* {
  margin: 0;
  padding: 0;
  font-family: "Lexend Deca", sans-serif;
}

/* body {
 
  flex-direction: column;
  width: 100%;
  height: 800px;
  background-color: grey;
  backdrop-filter: blur(2px);
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
} */

body {
  background-image: url("../assets/b883fc84b57235e6fe57f409716ae68d.gif");

  min-height: 100dvh;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* body {
  flex-direction: column;
  width: 100%;
  height: 100dvh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../assets/b883fc84b57235e6fe57f409716ae68d.gif);
  backdrop-filter: blur(2px);
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
} */

.container {
  padding-left: 8%;
  padding-right: 8%;
}

/* navbar dkk */
.navbar {
  height: 12%;
  display: flex;
  align-items: center;
}

.logo-pokemon {
  width: 190px;
  cursor: pointer;
}

.hamburger-menu {
  width: 30px;
  cursor: pointer;
  filter: invert();
  margin-left: 40px;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 60px;
}
nav ul li a {
  text-decoration: none;
  color: white;

  font-weight: bold;
  transition: 300ms;
}

nav ul li a:hover {
  font-size: 22px;
  /* color: #f99417; */
  text-shadow: 1px 1px 10px rgb(255, 162, 0),
    1px 4px 20px rgba(255, 149, 0, 0.25);
}

footer {
  height: 20%;
  background-color: black;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

footer p {
  color: white;
  font-weight: bold;
}

footer a {
  display: inline-flex;
  color: white;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  padding: 10px;
}

footer a:hover {
  scale: 1.2;
}

/* end of navbar and footer  */
.content-container {
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 1rem 1rem 0px 0px;
  padding-top: 1rem;
}
.content-container:hover {
  box-shadow: 1px 1px 10px rgb(255, 162, 0),
    1px 4px 20px rgba(255, 149, 0, 0.25);
}

h1 {
  color: white;
}
h1:hover {
  text-shadow: 1px 1px 10px rgb(255, 162, 0),
    1px 4px 20px rgba(255, 149, 0, 0.25);
}

.popular-card-container {
  margin-top: 1rem;
  display: inline;
}

.popular-card {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  background-color: #3a3a3ab6;
  width: 30rem;
  height: 20rem;
  display: inline-flex;
  padding: 1rem;
  border-radius: 1rem;
  color: white;
  cursor: pointer;
  position: sticky;
}

.popular-card:hover {
  box-shadow: 1px 1px 20px rgb(183, 0, 255), 0 4px 8px rgba(0, 0, 0, 0.25);
}

.popular-card-content {
  display: inline-flex;
  /* margin-top: 1rem; */
}

.popular-card-content img {
  height: 100%;
  width: 50%;
  object-fit: cover;
  border-radius: 1rem;
}

.card-desc {
  margin-left: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  text-align: left;
}

.popular-container {
  text-align: center;
  margin-top: 1rem;
}

.news-container {
  padding: 2rem;
  text-align: center;
}

.news-content {
  display: flex;
  overflow-x: auto;
  width: auto;
}

.news-content::-webkit-scrollbar {
  display: none;
}

.news-card img {
  width: 20rem;
  border-radius: 1rem;
}
.news-card {
  text-align: left;
  background-color: #3a3a3ab6;
  width: 21rem;
  height: 20rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  color: white;
  cursor: pointer;
}
.news-card:hover {
  box-shadow: 1px 1px 20px rgb(183, 0, 255), 0 4px 8px rgba(0, 0, 0, 0.25);
}

.news-card h4 {
  margin-top: 0.5rem;
}

.content-container p {
  font-size: small;
}

.test {
  text-align: center;
}

@media (max-width: 800px) {
  .container {
    padding-left: 5%;
    padding-right: 5%;
  }

  .navbar {
    flex-direction: column;
    height: auto;
    text-align: center;
  }

  nav ul {
    display: flex;
    justify-content: center;
  }

  nav ul li {
    margin: 10px;
  }

  .logo-pokemon {
    margin: 15px 0;
  }
}
