* {
  margin: 0;
  padding: 0;
  font-family: "Lexend Deca", sans-serif;
}

body {
  background-image: url("../assets/b883fc84b57235e6fe57f409716ae68d.gif");

  min-height: 100vh;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  padding-left: 8%;
  padding-right: 8%;
}

/* navbar dkk */
.navbar {
  height: 12%;
  display: flex;
  align-items: center;
}

.logo-pokemon {
  width: 190px;
  cursor: pointer;
}

.hamburger-menu {
  width: 30px;
  cursor: pointer;
  filter: invert();
  margin-left: 40px;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 60px;
}
nav ul li a {
  text-decoration: none;
  color: white;

  font-weight: bold;
  transition: 300ms;
}

nav ul li a:hover {
  font-size: 22px;
  /* color: #f99417; */
  text-shadow: 1px 1px 10px rgb(255, 162, 0),
    1px 4px 20px rgba(255, 149, 0, 0.25);
}

footer {
  height: 20%;
  background-color: black;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

footer p {
  font-weight: bold;
  color: white;
}

footer a {
  display: inline-flex;
  color: white;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  padding: 10px;
}

footer a:hover {
  scale: 1.2;
}
/* end of navbar and footer  */

.content-container h1 {
  color: white;
}
.content-container h1:hover {
  text-shadow: 1px 1px 10px rgb(255, 162, 0),
    1px 4px 20px rgba(255, 149, 0, 0.25);
}

.content-container {
  text-align: center;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 1rem 1rem 0px 0px;
  height: auto;
}

.content-container:hover {
  /* box-shadow: 1px 1px 20px rgb(183, 0, 255), 0 4px 8px rgba(0, 0, 0, 0.25); */
  box-shadow: 1px 1px 10px rgb(255, 162, 0),
    1px 4px 20px rgba(255, 149, 0, 0.25);
}

/* .characters-container {
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
} */
.characters-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
}

.char-cards {
  margin: 0.5rem;
  padding: 1rem;
  height: 22rem;
  width: 14rem;
  background-color: #3a3a3ab6;
  border-radius: 1rem;
}
.char-cards:hover {
  box-shadow: 1px 1px 20px rgb(183, 0, 255), 0 4px 8px rgba(0, 0, 0, 0.25);
  transform: translateY(-1rem);
}
.char-cards-content img {
  width: 100%;
  margin-bottom: 1rem;
}

.char-cards-content {
  color: white;
}
.char-cards-content h3 {
  margin-bottom: 1rem;
}

.elements {
  display: flexbox;
}

#fire {
  background-color: #fd7d24;
  border-radius: 1rem;
  margin: 1rem;
  padding: 2px;
}
#water {
  background-color: #4592c4;
  border-radius: 1rem;
  margin: 1rem;
  padding: 2px;
}
#poison {
  background-color: #b97fc9;
  border-radius: 1rem;
  margin: 1rem;
  padding: 2px;
}
#electric {
  background-color: #eed535;
  color: black;
  border-radius: 1rem;
  margin: 1rem;
  padding: 2px;
}
#grass {
  background-color: #9bcc50;
  border-radius: 1rem;
  margin: 1rem;
  padding: 2px;
}
#bug {
  background-color: #729f3f;
  border-radius: 1rem;
  margin: 1rem;
  padding: 2px;
}
#fairy {
  background-color: #fdb9e9;
  border-radius: 1rem;
  color: black;
  margin: 1rem;
  padding: 2px;
}
#normal {
  background-color: #a4acaf;
  border-radius: 1rem;
  margin: 1rem;
  padding: 2px;
}
#psychic {
  background-color: #f366b9;
  border-radius: 1rem;
  margin: 1rem;
  padding: 2px;
}
#fighting {
  background-color: #d56723;
  border-radius: 1rem;
  margin: 1rem;
  padding: 2px;
}

#flying {
  background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
  background-color: #3dc7ef;
  border-radius: 1rem;
  margin: 1rem;
  padding: 2px;
}
#ground {
  background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
  background-color: #f7de3f;
  border-radius: 1rem;
  margin: 1rem;
  padding: 2px;
}

@media (max-width: 800px) {
  .container {
    padding-left: 5%;
    padding-right: 5%;
  }

  .navbar {
    flex-direction: column;
    height: auto;
    text-align: center;
  }

  nav ul {
    display: flex;
    justify-content: center;
  }

  nav ul li {
    margin: 10px;
  }

  .logo-pokemon {
    margin: 15px 0;
  }
  .characters-container {
    padding-left: 2rem;
    padding-right: auto;
  }
}
